:root {
  font-family: "EB Garamond", "Lexend", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #262118;
}